<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatisplusdemo.mapper.DoctorMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.mybatisplusdemo.pojo.Doctor">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="firstName" column="first_name" jdbcType="VARCHAR"/>
            <result property="lastName" column="last_name" jdbcType="VARCHAR"/>
            <result property="specializationName" column="specialization_name" jdbcType="OTHER"/>
            <result property="qualification" column="qualification" jdbcType="OTHER"/>
            <result property="hospitalId" column="hospital_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,first_name,last_name,
        specialization_name,qualification,hospital_id
    </sql>
    <insert id="insertOneDoctor">
        {call CreateDoctor( #{firstName, mode=IN, jdbcType=VARCHAR},
              #{lastName, mode=IN, jdbcType=VARCHAR},
              #{specializationName, mode=IN, jdbcType=VARCHAR},
              #{qualification, mode=IN, jdbcType=VARCHAR},
              #{hospitalId, mode=IN, jdbcType=INTEGER})}
    </insert>
    <select id="getAllDoctors" resultType="com.atguigu.mybatisplusdemo.pojo.Doctor">
        select * from doctor;
    </select>
</mapper>
