<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infosharing.project.mapper.PrecautionMapper">

    <resultMap id="BaseResultMap" type="com.infosharing.project.pojo.Precaution">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>
    <delete id="deletePrecautionsByUserId">
        delete from user_precaution
        where user_id = #{userId}
    </delete>

    <select id="selectByUserId" resultType="com.infosharing.project.pojo.Precaution">
        SELECT p.*
        FROM precaution p
                 JOIN user_precaution up ON p.id = up.precaution_id
        WHERE up.user_id = #{userId}
    </select>

    <select id="getPrecautionByDiseaseId"
            resultType="com.infosharing.project.pojo.Precaution">
        select *
        from precaution
        where id in
              (select precaution_id from disease_precaution where disease_id = #{diseaseId})
    </select>
    <select id="getPrecautionByDiseaseName"
            resultType="com.infosharing.project.pojo.Precaution">
        select *
        from precaution
        where id in
              (select precaution_id
               from disease_precaution
               where disease_id in
                     (select id from disease where name = #{diseaseName}))
    </select>
    <select id="getPrecautionsByUserId"
            resultType="com.infosharing.project.pojo.Precaution">
        select *
        from precaution
        where id in
              (select precaution_id from user_precaution where user_id = #{userId})
    </select>
    <select id="getPrecautionsIDsByUserId" resultType="java.lang.Integer">
        select precaution_id
        from user_precaution
        where user_id = #{userId}
    </select>


</mapper>
